langchain
langchain-groq
langchain-community
langchain-openai
langchain-ollama
langchain-google-genai
langchain-google-genai
faiss-cpu
tiktoken
python-dotenv
chromadb
langchain-core
langchain-anthropic
pandas
numpy
sentence-transformers
pypdf
pymupdf
langchain-huggingface